html,body {  
   margin: 0;  
   padding: 0; 
   width: 100%;
   height: 100%;
   background-color: #FFE1FF;
} 

#app,.el-container {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.tac:not(.el-menu--collapse),.el-col,.el-menus {
    width: 120px;
    height: 100%;
	position: absolute;
	bottom: 0;
}
 

.el-submenu {
	min-height: 180px;
}
.el-menu-item {
	min-height: 150px;
}

.showNav {
	display: block;
	min-height: 50px;
	max-height: 80px;
}

.el-menu-item {
	max-height: 120px;
}

#SignInTable {
	margin-right: auto;
	margin-left:auto;
	margin-top: 75px;
	background-color: #EED2EE;
	height:430px;
	width:400px;
	border:2px solid;
	border-color: #CDB5CD;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
}
#SignUpTable {
	margin-right: auto;
	margin-left:auto;
	background-color: #EED2EE;
	height:540px;
	width:400px;
	border:2px solid;
	border-color: #CDB5CD;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
}

#inputa,#inputb, #confirm, #tel, #addr {
	width:200px;
}

.el-main {
	margin-right: auto;
	margin-left:auto;
}

#peo {
	display:block;
	margin-right: auto;
	margin-left:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	width: 100px;
}

#signInButton {
	margin-left: 70px;
}

#SignTitle {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 20px;
}

